.popup-inner {
  position: absolute;
  width: 50%;
  min-height: 12.5%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .5);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
}

.promotion-choices {
  & :is(.white-queen, .black-queen) {
    left: 0;
  }
  & :is(.white-rook, .black-rook) {
    left: 25%;
  }
  & :is(.white-bishop, .black-bishop) {
    left: 50%;
  }
  & :is(.white-knight, .black-knight) {
    left: 75%;
  }

  .figure {
    &:hover {
      transform: scale(1.05);
    }
  }
}
